.content{
  font-family: 'Montserrat', sans-serif !important;
}

.userBanner {
  background-color: #8A79F7;
  height: 100px;
  vertical-align: middle;
}

.pagename{
  color: #FFFFFF;
  font-size: 24px;
  padding: 5px 10px;
  padding-left: 20px;
  font-weight: bold;
}

.date {
  color: #FFFFFF;
  font-size: 20px;
  padding-left: 60px;
  padding-bottom: 10px;
}

.centered{
  align-items: center;
  justify-content: center;
}

ion-card{
  font-family: 'Montserrat', sans-serif !important;
  padding-bottom: 5px;
  border-top: 5px solid #00DCB8;
}

ion-list{
  padding: 0px;
}

ion-card-title{
  font-size: 30px;
}

ion-card-content{
  padding-bottom: 0px;
  font-weight: 900;
  font-size: 18px;
  color: #1F3040;
}

.card-h{
  border-bottom: 2px solid #B1B9C1;
}


.head-0{
  font-weight: 900;
  color: #5C5A92;
  font-size: 25px;
    align-items: center;
    justify-content: center;
}

.head-1{
  font-weight: 900;
  color: #7264C9;
  font-size: 20px;
    align-items: center;
    justify-content: center;
}

.head-2{
  font-weight: 900;
  color: #00C2A2;
  font-size: 16px;
    align-items: center;
    justify-content: center;
}

.lbl-0{
  color:#1F3040;
  font-weight: 900;
  font-size: 20px;
    align-items: center;
    justify-content: center;
}

.lbl-1{
  color:#1F3040;
  font-size: 16px;
    align-items: center;
    justify-content: center;
}

.lbl-2{
  color:#1F3040;
  font-size: 13px;
    align-items: center;
    justify-content: center;
}
