<ion-header >
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row class="appbanner">
          <ion-thumbnail>
            <ion-img src="assets\logo.png"></ion-img>
          </ion-thumbnail>
          <ion-label class="appname">Kompás</ion-label>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs tabsLayout="icon-start">
    <ion-tab-bar style="background-color: #EEECF9"   slot="bottom">
      <ion-tab-button style="background-color: #B8AAE9" *ngFor="let p of pages" [tab]="p.url" (click)="onClick($event)">
        <ion-icon style="color: #EEECF9" [name]="p.icon" [class]="p.class" ></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
